@charset "UTF-8";

:root{
    --cor1:#00020E;
    --cor3:#003B96;
    --cor4:white;
    --cor5:#050FA3;
    --cor6:#1120F0;

}

*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: var(--cor5);
}