@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --cor1:#00020E;
    --cor3:#003B96;
    --cor4:white;
    --cor5:#050FA3;
    --cor6:#1120F0;
    --font1: "Bruno Ace SC", sans-serif;
    --font2:  "Roboto", sans-serif;

}

*{
    margin: 0px;
    padding: 0px;
    
}
body{
    background-color: #f5f5f5;
    ;
    font-family: sans-serif;
}
header{
  
    background-image: url(imagens/imagem0.png);
    background-size: cover;
    background-position: left,center;
    height: 180px;
    text-align: center;
    background-color: var(--cor5);
}
header h1{
    color: white;
    font-size: 60px;
    padding-top: 40px;
    margin: 0px;
    font-family: var(--font1);
}
span{
    color: #050FA3;
    text-shadow: 3px 0px 15px white ;
    
}

h2{
    color: rgb(238, 237, 237);
    font-size: 20px;
    margin-top: 5px;
    font-family: var(--font2);
}
nav{
    background-color: rgb(2, 2, 48)
    ;
    padding: 15px;
    text-align: center;
    
}
nav a{
    color: white;
    text-decoration: none;
    margin: 0.25px;
    font-weight: bold;
  
}
nav a:hover{
    color:#003B96;
}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
nav li{
    margin: 0 20px;
}

nav ul li a{
    display: flex;
    align-items: center;
    gap: 18px;
    text-decoration: none;
}
.fa-house{
    color: white;
}

main{
     max-width: 1200px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
   

    
}
section{
    display: flex;
    
    
}
.tres{
   padding: 1em;
   margin-left: 15px;


  
}
.h2{
    color: black;
    padding: 10px;
    margin-left: 13px;
    font-size: 1.4em;
    
}
main{
    width: 400px;
    height: 400px;
}
.quadrado{
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ececec;
   box-shadow: 0 2px 8px rgba(0,0,0,.08);

}
aside.imagens{
    
    display: flex;
    
    
}
h3{
    padding: 10px;
    text-align: justify;
  
}
p.texto1{
    padding: 10px;
    margin: auto;
    font-size: 1.1em;
    word-spacing: 2px ;
   
}

.link{
    
    background-color: #050FA3;
    color: white;
    font-size: 1.2em ;
    padding: 10px;
    
    
    

}
p.link{
    text-align:right,bottom;
    margin:auto;
    
   
}
article.img2{
    display: contents;
}


